/*
Project Name: Week One Assesment/ Instagram rip off
Client: GA WDI-Den
Author: Brian D. Ridge
Developer @GA_Den
*/


/******************************************
/* SETUP
/*******************************************/

* {
	font-family: 'Open Sans', sans-serif;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px;
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0;
}

/* make scaleable? @media

/******************************************
/* BASE STYLES
/*******************************************/

body {
	
}

header {
	background-color: #125688;
	width: 100%;
	height: 300px;
	float: left;
}

button {
	color: white;
}

footer {
	width: 100%;
	clear: both;
}

h1 {
	color: #125688;

}

/******************************************
/* LAYOUT
/*******************************************/

.header {
	float: left;
	
}

#insta {
	display: inline-flex;
	align-items: center;

}

#loginButton {
	background-color: #125688;
	border: 2px;
	border-radius: 2px;
	padding: 0px 0px 0px 60px;
	display: inline-flex;
	align-items: center;
}

#phoneImages {
	padding: 100px 0px 0px 100px;
}

#insta {
	float: right;
	padding: 100px 0px 0px 100px;
	width: 470px;
	margin: 0px 300px 0px 0px;
}

#loginButton {
	font-weight: 600;
}

#homeIcon {
	padding-right: 10px;
}

#main {
	width: 470px;
	float: right;
}

#copy {
	padding: 25px 0px 0px 50px;	
	background-image: url("images/frame.png");
	background-repeat: no-repeat;
}

.footer {
	clear: both;
	text-align: center;
	margin: auto;
	width: 50%;
	margin-top: 500px;
	/*display: flex;
	align-items: stretch;*/
}

.links {
	text-transform: uppercase;
	color: #125688;
	float: left;
	font-weight: 600;
	display: inline-block;
	padding: 50px 20px 20px 0px;
	font-size: 12px;
}

#copyright {
	color: #d3d3d3;
	float: left;
}
