/*
Project Name: Week One Assesment/ Instagram rip off
Client: GA WDI-Den
Author: Brian D. Ridge
Developer @GA_Den
*/


/******************************************
/* SETUP
/*******************************************/

* {
	font-family: 'Open Sans', sans-serif;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px;
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0;
}

#container {

}

/* make scaleable? @media

/******************************************
/* BASE STYLES
/*******************************************/

body {
	
}

header {
	background-color: #125688;
	height: 300px;
}

img {

}

button {
	color: white;

}

section {

}

footer {

}


div {

}


h1 {
	color: #125688;

}

/******************************************
/* LAYOUT
/*******************************************/

.header {
	
}

#loginButton {
	background-color: #125688;
	border: 1px black;
	border-radius: 2px;
	padding: 10px;
	display: inline-flex;
	align-items: center;


}

#phoneImages {
	padding: 100px 0px 0px 100px;
}

#brandLogo {
	position: relative
}

#loginButton {
	font-weight: 600; 
}

#homeIcon {
	padding-right: 10px;
}

#main {
	width: 470px;
	background-image: url("images/frame.png");
	background-repeat: no-repeat;
}

.copy {
	padding: 25px 0px 0px 50px;	
}

.footer {
	clear: both;
	text-align: center;
	/*display: flex;
	align-items: stretch;*/


}
.links {
	text-transform: uppercase;
	color: #125688;
	float: left;
	font-weight: 600;
	display: inline-block;
	padding: 0px 20px 20px 0px;
	font-size: 12px;
}

#copyright {
	color: #d3d3d3;
	float: left;

}
